:root{
    /* --corLuzNeon: RGB(195, 42, 255); */
    --corLuzNeon: #d3b022;
    /* --corLuzNeon2: #fff; */
    --corLuzNeon2: #fed72d;
}

.wave-container{
    text-align: center;
    justify-content: center;
    width: 300px;
    margin: 20px auto 10px auto;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 5px;
/* 
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px var(--corLuzNeon),
    0 0 80px var(--corLuzNeon),
    0 0 90px var(--corLuzNeon),
    0 0 100px var(--corLuzNeon),
    0 0 150px var(--corLuzNeon); */
    
    color: var(--corLuzNeon2);
    box-shadow: 
    0 0 5px var(--corLuzNeon),   
    0 0 10px var(--corLuzNeon),  
    0 0 20px var(--corLuzNeon),
    0 0 40px var(--corLuzNeon), 
    0 0 80px var(--corLuzNeon); 
}

.wave-text span {
    
    color: var(--corLuzNeon2);
    text-shadow:
    0 0 5px var(--corLuzNeon2),
    0 0 10px var(--corLuzNeon2),
    0 0 20px var(--corLuzNeon2),
    0 0 40px var(--corLuzNeon),
    0 0 80px var(--corLuzNeon),
    0 0 90px var(--corLuzNeon),
    0 0 100px var(--corLuzNeon),
    0 0 150px var(--corLuzNeon);

    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    font-size: 25px;
}
.separet {
    display: inline-block;
    margin: 0px 10px 0px 10px;
    /* width: 25%; */
    vertical-align: top;
}
/*
.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

 @keyframes wave {
    0%, 100% {
        font-size: 35px;
        transform: translateY(0);
    }
    50% {
        font-size: 25px;
        transform: translateY(-20px);
    }
}*/
